{% extends 'base.html' %}
{% block base %}
    <table class="table">
        <form id='my_form' method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_table }}
        </form>
    </table>
    <div style="text-align: center">
     <button style='text-align: center; width: 10vh; font-size: 20px; margin-bottom: 5vh;' class='btn btn-danger' form="my_form"> Usuń </button>
    </div>
    <div style="text-align: center; color: white">
    <p> Usuwasz zamówienie:</p>
    <h3>{{ orders.id }} {{ orders }}</h3>
    </div>
{% endblock %}
