{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Szczegóły zamówienia</title>
</head>
<body>
<div class="mainMenu">
    <ul>
        <li><a href="{% url 'base' %}"> Strona Główna </a></li>
        <li><a href="{% url 'order_list_view' %}">Lista Zamówień</a></li>
        <li><a href="{% url 'order_add_view' %}"> Dodaj zamówienie </a></li>
        <li><a href="{% url 'driver_add_view' %}"> Dodaj kierowce </a></li>
        <li><a href="{% url 'car_add_view' %}"> Dodaj samochód </a></li>
        <li><a href="{% url 'transport_add_view' %}"> Dodaj transport </a></li>
        <li><a href=""> Ustawienia </a></li>
    </ul>
</div>
<div class="coint">
    <div class="detail_order_coint">
        <p>Imię i nazwisko:</p>
        <h1>{{ order.client }}</h1>
        <p>Adres Dostawy:</p>
        <h2>{{ order.delivery_address }}</h2>
        <p>Numer Telefonu:</p>
        <h2>{{ order.phone_number }}</h2>
        <p>Termin dostawy:</p>
        <h2>{{ order.delivery_day }}</h2>
        <h2>{{ order.delivery_hour }}</h2>
        <p>Dodatkowe informacje:</p>
        <h4>{{ order.opis }}</h4>
        <p>Status zamówienia:</p>
        <h4>{{ order.get_status_display }}</h4>
    </div>
    {% if my_map %}
        <div class ="map">
            {{ my_map|safe }}
        </div>
    {% endif %}
    <div class="transport_form">
        <h3> Dodaj transport do zamówienia: </h3><br>
        <form method="post">
            <br>
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <input class='order_detail_transport' type="submit" value="Dodaj Transport">

        </form>
        <a href="{{ order.get_modify_url }}">
        <button class="ord_det_edit">Edytuj zamówienie</button>
        </a>
        <div class="detail_order_buttons">
            <h3>Zmień Status</h3>
            <a href="{% url 'TransportDefined' pk=order.id %}"><button>Transport</button></a>
            <a href="{% url 'DoneOrder' pk=order.id %}"><button>Zrealizowane</button></a>
            <a href="{% url 'CancelOrder' pk=order.id %}"><button>Anulowane</button></a>
            <a href="{% url 'NewOrder' pk=order.id %}"><button>Nowe</button></a>
        </div>
        <br>
        <footer><b> Status zamówienia:</b> <br> <h3>{{ order.get_status_display }}</h3> </footer>
    </div>
</div>

    </body>
</html>
