{% extends 'base.html' %}
{% load static %}
{% block base %}
<div class="filter_view" style="margin-top: 2vh;">
    <div class="filter_form">
        <form method="get">
            {{ filter.form.as_p }}
                <br>
            <button  style="margin: 1vh" class='btn' type="submit">Szukaj</button>
        </form>
    </div>
 <div class="justify-content-md-center">
      <ul class="list-inline mx-auto justify-content-center">
        {% for item in object_list %}
            <a style='text-decoration: none; color: black; font-size: large;' href="{{ item.get_absolute_url }}">
                 <li style='background-color: #4ac1f7; margin-bottom: 1vh; padding: 2vh; min-width: 420px; max-width: 600px; margin-top: 1vh; '
                            class="list-inline-item">{{ item }}</li>
            </a>
        {% endfor %}
    </ul>
</div>
 </div>
{% endblock %}