.mainMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.mainMenu li a {
  display: block;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
.mainMenu li a:hover {
  background-color: #111;
}
.mainMenu ul{
   width: 100%;
   display: table;
   text-align: center;
}
.mainMenu ul li{
     display: inline-block;
     float: none;
}
.header li {
    display: block;
}
.OrdersView {
    color: black
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    margin: 20px;
}
.button:hover {
    background-color: #111;
}
.map {
    width: 1000px;
    height: 1000px;
}