.mainMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.mainMenu li a {
  display: block;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
.mainMenu li a:hover {
  background-color: #111;
}
.mainMenu ul{
   width: 100%;
   display: table;
   text-align: center;
}
.mainMenu ul li{
     display: inline-block;
     float: none;
}
.header li {
    display: block;
}
.OrdersView {
    color: black
}