{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Transport App</title>
</head>
<body>
<div class="mainMenu">
    <ul>
        <li><a href="{% url 'base' %}"> Strona Główna </a></li>
        <li><a href="{% url 'order_list_view' %}">Lista Zamówień</a></li>
        <li><a href="{% url 'order_add_view' %}"> Dodaj zamówienie </a></li>
        <li><a href="{% url 'order_filter' %}"> Filtruj zamówienia </a></li>
        <li><a href="{% url 'settings' %}"> Ustawienia </a></li>
    </ul>
</div>
{% block base %}
    <div class="coint">
    <div class="base_orders">
        <h3>Nie zrealizowane zamówienia:</h3>
        <ul>
            {% if orders %}
                {% for order in orders %}
                    <a href="{{ order.get_absolute_url }}">
                        <li class="base_view_orders"> ID {{ order.id }} <b>{{ order.client }}
                        </b> Telefon: {{ order.phone_number }}<br>
                            {{ order.delivery_address }} &nbsp <b>{{ order.delivery_day|date:"d/m/Y" }}
                                {{ order.delivery_hour|time:'H:i' }}</b></li>
                    </a>

                {% endfor %}
            {% endif %}
        </ul>
    </div>
    {% if my_map %}
        <div class="map">
            {{ my_map|safe }}
        </div>
    {% endif %}
{% endblock %}
<div class="form_view">
    {% block content %}
    {% endblock %}
</div>
</div>
</body>
</html>